@page "/"

@using Microsoft.Extensions.Options
@inject IOptions<EnvironmentSettings> EnvironmentSettingsOptions
<PageTitle>Index</PageTitle>


<style>
    .container {
        display: flex;
        justify-content: center; /* Центрирует содержимое по горизонтали */
        align-items: center; /* Центрирует содержимое по вертикали */
        height: 70vh; /* Занимает 100% высоты экрана */
    }

    .centered-image {
        max-width: calc(100% / 3); /* Устанавливает максимальную ширину в треть ширины экрана */
        height: auto; /* Автоматически подстраивает высоту */
    }
</style>

<h1>@EnvironmentSettingsOptions.Value.EnvironmentName</h1>
<div class="container">
    <MudImage Class="centered-image ml-1" ObjectFit="ObjectFit.ScaleDown" Src="photos/Ресурс 24.png" Alt="Logo" />

</div>

